[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
openpyxl = "*"
fastparquet = "*"
pyspark = "*"
seaborn = "*"

[dev-packages]
pylint = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
